pkgbase = rlite
	pkgdesc = Recursive InterNetwork Architecture user/kernel prototype written in C.
	pkgver = r1198.d0b6ef1
	pkgrel = 1
	install = rlite.install
	arch = any
	license = BSD
	makedepends = git
	makedepends = linux-headers
	makedepends = fakeroot
	depends = linux
	depends = glibc
	source = rlite.install
	source = rlite.conf
	source = rlite.service
	source = git+https://github.com/vmaffione/rlite.git
	md5sums = 047aa5adec4c52ddbf86d12dbf300f71
	md5sums = f42f582e7be0c99ed67a3cbe9e56c3ba
	md5sums = ecaab3e792c1c36048a069334337b380
	md5sums = SKIP

pkgname = rlite

